@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Be+Vietnam+Pro:ital,wght@0,300;0,700;1,400&family=Dangrek&family=Fjalla+One&family=Koulen&family=Lalezar&family=Lobster&family=Noto+Kufi+Arabic:wght@400;500;600&family=Noto+Sans+Arabic:wght@500&family=Oleo+Script+Swash+Caps&family=Oxygen:wght@700&family=Pacifico&family=Poppins:wght@500&family=Rakkas&family=Roboto:wght@500&family=Signika+Negative:wght@400;600&family=Staatliches&family=Tilt+Warp&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Arabic', sans-serif;
}
/* start contact us */
.contact .contact-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 200px;
}
/* strat navbar */
.navbar{
    height: 40vh;
    width:100%;
    background-color: teal;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
/* end */
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
.contact .contact-content .left p{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    font-size: 18px;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #333;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right {
    margin-left: 55px;
    margin-right: 20px;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button-area{
    display: flex;
    align-items: center;
}
.right form .button-area button{
    color: #fff;
    display: block;
    width: 160px!important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: teal;
    border: 2px solid teal;
    transition: all 0.3s ease;
}
.right form .button-area button:hover{
    color: teal;
    background: none;
}
/* end content us */
/* footer */
footer{
    width:100%;
    padding:10px 15px;
    font-size:20px;
    color:#fff;
    background-color:teal;
    text-align:center;
}
